body {
  padding: 0;

  width:100%;
  fontsize: 14px;
  line-height: 1.5;

  font-family: 'Impact', sans-serif;
  color: black;
}
.sm-page {
  width: 100%;
  overflow: hidden;
  position:relative;
}
.sm-page-1-container {
  width: 50%;
  float: left;
  overflow: hidden;
}

.sm-page-1-image {
margin: 2.5%;
}
img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}

.sm-page-2-container {
  width: 50%;
  float: left;
  overflow: hidden;
}
.sm-title-container {
  width: 100%;
  float:left;
  font-size: 50px;
  overflow: hidden;
}

.sm-title-middle {
  position: relative;
  top: 100px;
  transition: width 2s;
}
.sm-title-middle:hover {
  animation:blinkingText 2.0s infinite;
}
@keyframes blinkingText{
	0%{		color: #000;	}
	49%{	color: transparent;	}
	50%{	color: transparent;	}
	99%{	color:transparent;	}
	100%{	color: #000;	}
}

.sm-title-left {
  font-family: Garamond, serif;
  float:left;
}
.sm-title-right {
  float:right;
}

.sm-para-container{
  width: 100%;
  font-size: 20px;
  line-height: 1;
}
.sm-credit-container{
  width: 100%;
  font-size: 30px;
}
.sm-credit-container{
  font-family: arial;
}
.sm-credit-left{
  float: left;
}
.sm-credit-right{
  float: right;
}

.sm-page-container{
  margin:80px;
  font-size: 20px;
  font-family: Garamond;
  width: 10%;
  float:right;
}

.sm-footer {
  font-family: courier;
  margin-top: 100px;
	padding: 30px;
  width: 100%;
	position: relative;
	overflow: hidden;
}
.sm-button {
  margin-left: 20px;
	float: left;
}

.sm-button a {
  text-align: center;
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 30px;
  color: black;
}

.sm-button a:hover {
  color: blue;
  border: 1px ;
  text-decoration: none;
}

.sm-colour--on {
  background-color: #FFDB58;
  color: white;
}

.sm-colour--on .sm-button a {
  border-color: #FFDB58;
  color: white;
}
